.auth-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.auth-box {
    max-width: 500px;
    width: 100%;
    padding: 20px 30px;
    background: #ffffff;
    border-radius: 10px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); */
    border: 1px solid #ddd;
}

.auth-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group label {
    color: #555;
}

.form-group input,
.form-group textarea {
    padding: 12px 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 14px;
    transition: border-color 0.3s ease;
    background: #f2f2f2;
    width: 100%;
    resize: vertical;
    font-family: Arial, Helvetica, sans-serif;
}

.form-group input:focus,
.form-group textarea:focus {
    outline: none;
    border-color: #03a87c;
    box-shadow: 0 0 0 2px rgba(3, 168, 124, 0.1);
}

.auth-link {
    text-align: center;
    margin-top: 20px;
    color: #666;
}

.auth-link a {
    color: #6f42c1;
    text-decoration: none;
    font-weight: 500;
}

.auth-link a:hover {
    text-decoration: underline;
}

.alert {
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
}
.alert-danger {
    background-color: #f8d7da;
    border: 1px solid #f5c6cb;
    color: #721c24;
}
.htmx-indicator {
    display: none;
}
.htmx-request .htmx-indicator {
    display: inline;
}